# .ebextensions/01_django.config
# Django configuration for AWS Elastic Beanstalk
# This file configures the WSGI application and Django settings module

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "marketing_tracker.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

  aws:elasticbeanstalk:container:python:
    WSGIPath: "marketing_tracker.wsgi:application"

  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: "staticfiles/"
    /media/: "media/"

commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true

  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    ignoreErrors: true